[tools]
# languages
node = "latest"
ruby = "latest"
go = "latest"

# tools
shellcheck = "latest"
shfmt = "latest"

# llm
herdr = "latest"

[settings]
idiomatic_version_file_enable_tools = ["ruby"]
install_before = "3d"

[settings.ruby]
compile = false

[settings.node]
compile = false

[settings.upgrade]
auto_prune = false
