[tools]
node = "25.9.0"
ruby = "4.0.3"

[settings]
idiomatic_version_file_enable_tools = ["ruby"]

[settings.ruby]
compile = false

[settings.node]
default_packages_file = "{{ mise_config_dir }}/.default-npm-packages"
